body{
    background-color: #f4d5ff;
}
form{
    margin-left: 75px;
}
h1{
    margin-left: 80px;
}
button{
    width: 80px;
    height: 30px;
    background-color: ;
    border-radius: 5px;
}

.container{
        height:50vh;    
        margin-top:70px;        
        background-color: #caaaff;
        width:auto;
        margin-right:auto;
        margin-left:auto;
        border:2px solid black;
        border-radius:5px;
    
}
input{
    border-radius: 5px;
    border: 2px solid white;
}
a{
    text-decoration: none;
}
